{% extends 'base.html.twig' %}
{% block head %}
{% block title %}Ajouter région {% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

<link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">

<script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <style type="text/css">

        #col {column-count: 4;
}
	</style>
{% endblock %}

{% endblock %}
{% block body %}
<div id="login-barre">
<div class="login">
    Bonjour {{app.user.username}}
</div>

</div>

{{ form_start(add_form) }}
        {{ form_widget(add_form) }}
    <button type="submit" class='btn btn btn-success'> <i class="fa fa-save"></i> Enregistrer</button>
    <a class="btn btn-primary" href="{{ path('weather_dashbord') }}" role="button"><i
        class="fa fa-sort-amount-asc"></i>
Retour à la liste sans modifier</a>

    {{ form_end(add_form) }}

{% endblock %}