{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <div class="panel panel-default panel-profile">
        <div class="panel-body">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
            {% if form_errors(form.email) or form_errors(form.username)  or form_errors(form.plainPassword.first)  or form_errors(form.plainPassword.second) %}
                <div class="alert alert-danger alert-dismissible m-t" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>
                        {{ form_errors(form.email) }}
                        {{ form_errors(form.username) }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.second) }}</strong>
                </div>
            {% endif %}
            {#<img src="{{ asset('images/bandeau.jpeg') }}" class="img-responsive" alt="Responsive image"> <br> <br>#}
            <h4 class="m-t-0">
                création de votre compte : 
            </h4>
            Créez votre compte.
            <div class="form-group">
                {{ form_label(form.email,'',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}

                <div class="col-xs-5">
                    {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.username,'',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
                <div class="col-xs-5">
                    {{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first,'',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
                <div class="col-xs-5">
                    {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second,'',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
                <div class="col-xs-5">
                    {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary" name="signup"
                            value="{{ 'registration.submit'|trans }}">{{ 'registration.submit'|trans }}</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>