{% trans_default_domain 'FOSUserBundle' %}
<div class="container p-t-md">
    <div class="panel panel-default panel-profile">
        <div class="panel-body">
            <div data-grid="images">
                <img width="246" height="80" src="{{ asset('images/abpro_bleu.png') }}"> <br> <br>
            </div>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-info" name="signup"
                    value="{{ 'change_password.submit'|trans }}">{{ 'change_password.submit'|trans }}
            </button>
            <a class="btn btn-primary" href="{{ path('syc_abpro_homepage') }}" role="button"><i
                        class="fa fa-sort-amount-asc"></i>
                Retour à l'accueil sans modifier</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>